dist: xenial

services:
  - postgresql
  - xvfb
addons:
  postgresql: "9.4"
before_script:
  - psql -U postgres -c "create user decide password 'decide'"
  - psql -U postgres -c "create database test_decide owner decide"
  - psql -U postgres -c "ALTER USER decide CREATEDB"
  - wget http://chromedriver.storage.googleapis.com/79.0.3945.36/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip -d /home/travis/virtualenv/python3.6/bin/
  - export CHROME_BIN=chromium-browser
  - "export DISPLAY=:99.0"

language: python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
  - pip install codacy-coverage
  - pip install selenium==2.33.0
script:
  - cd decide
  - xvfb-run --server-args="-screen 0 1024x768x24" make test
  - python ./manage.py test census
