<!DOCTYPE html>
<html>
    <head>
        <!--<link type="text/css" rel="stylesheet" href="estilos.css"> -->
        <title>Change vote</title>
    </head>  
    <body>
        <nav class="navbar">
            <span class="navbar">Decide</span>
        </nav>

        <strong>Hi {{user.username}}! </strong>
        <strong>Prueva {{id}}!</strong>
        <strong>Prueva2 {{request}}!</strong>

        <h1>Pruebas de rows </h1>      
        <a href="/booth/1?myVar=41" >a link</a>

        <div class="footer">
            <p>Decide voting home</p>
        </div>
    </body>  
</html>    

<style rel ="stylesheet">
    *{
        color:blue;
        background: white;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }
</style>