{% extends "base.html" %}
{% load i18n static %}

{% block extra
 %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <!-- <h2 v-if="!voting.start_date">Votación no comenzada</h2> 
            <h2 v-else-if="!voting.end_date">Votación en curso</h2>
            <div v-else> -->
                <h2 class="heading">Resultados:</h2>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                            <th>Porcentaje de votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(opt,index) in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td>[[opt.postproc]]</td>
                            <td class="text-muted">[[opt.votes]]</td>
                            <td>[[opt.porcentaje]]</td>
                            
                        </tr>
                        </template>
                    </tbody>

                </table>             
            <br/>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
            <script language="javascript" src="js/jquery-1.2.6.min.js"></script>
            <h4>La participación del censo ha sido del {{pC}}%</h4>

            </div>


        </div>
    </div>
    
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    

    <script>
        var voting = {{voting|safe}}
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })
    </script>
    <input type="button" style="margin:auto;"onClick="graficoPorcentaje()" value="Porcentaje de votos por opción"/>
    <input type="button" style="margin:auto;"onClick="graficoEdad()" value="Número de votos por edad"/>
    <input type="button" style="margin:auto;"onClick="graficoRegion()" value="Número de votos por región"/>
    <input type="button" style="margin:auto;"onClick="graficoSexo()" value="Número de votos por sexo"/>

    <div id="graph" style="width:30%; height: 30%;  padding: 10px; margin:auto;">
        <canvas id="myChart" width="500" height="500"></canvas>
        <script>
            var numgraph = 1;
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'pie',
                // The data for our dataset
                data: {
                    labels: {{opciones|safe}},
                    datasets: [{
                        backgroundColor: [
                            'rgba(255, 0, 0, 0.8)',
                            'rgba(54, 162, 235, 0.7)',
                            'rgba(255, 255, 0, 0.7)',
                            'rgba(0, 253, 35, 0.8)',
                            'rgba(220, 0, 234, 0.8)'
                        ],
                        data: {{numero|safe}},
                    }]
                },

                // Configuration options go here
                options: {
                    title:{
                        display: true,
                        text: 'Porcentaje de votos por opción'
                    },
                    animation: {
                        easing: 'linear',
                        duration: 800
                    } 
                }
            });
        </script>
    </div>
    <script>
        function graficoEdad(){
            chart.destroy();
            chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'horizontalBar',

                // The data for our dataset
                data: {
                    labels: {{edadKeys|safe}},
                    datasets: [{
                        label: 'Votos',
                        backgroundColor: 'rgba(255, 255, 0, 0.7)',
                        data: {{edadValues|safe}},
                    }]
                },

                // Configuration options go here
                options: {
                    title: {
                        text:'Número de votos por edad',
                        display: true
                    },
                    scales:{
                        yAxes:[{
                            ticks:{
                                beginAtZero:true
                            }
                        }],
                        xAxes:[{
                            ticks:{
                                beginAtZero:true
                            }
                        }]
                    },
                    animation: {
                        easing: 'linear',
                        duration: 800
                    } 
                }
            });
        }
    </script>
    <script>
        function graficoSexo(){
            chart.destroy();
            chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'doughnut',
                // The data for our dataset
                data: {
                    labels: {{sexoKeys|safe}},
                    datasets: [{
                        backgroundColor: [
                            'rgba(255, 0, 0, 0.7)',
                            'rgba(54, 162, 235, 0.7)',
                            'rgba(0, 255, 0, 0.8)'
                        ],
                        data: {{sexoValues|safe}},
                    }]
                },

                // Configuration options go here
                options: {
                    title:{
                        display: true,
                        text: 'Número de votos por sexo'
                    },
                    animation: {
                        easing: 'linear',
                        duration: 800
                    } 
                }
            });
        };
    </script>
    <script>
        function graficoRegion(){
            chart.destroy();
            chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'horizontalBar',
                // The data for our dataset
                data: {
                    labels: {{regionKeys|safe}},
                    datasets: [{
                        backgroundColor: [
                            'rgba(255, 0, 0, 0.8)',
                            'rgba(54, 162, 235, 0.7)',
                            'rgba(255, 128, 0, 0.7)',
                            'rgba(255, 255, 51, 0.8)',
                            'rgba(153, 255, 51, 0.8)',
                            'rgba(0, 255, 255, 0.8)',
                            'rgba(0, 128, 255, 0.8)',
                            'rgba(0,0,255, 0.8)',
                            'rgba(102,0,204,0.8)',
                            'rgba(255, 0, 255, 0.8)',
                            'rgba(255,153,204,0.8)',
                            'rgba(192, 192, 192, 0.8)',
                            'rgba(32, 32, 32, 0.8)',
                            'rgba(102, 51, 0, 0.8)',
                            'rgba(255, 0, 127, 0.8)',
                            'rgba(0, 51, 0, 0.8)',
                            'rgba(51, 0, 0, 0.8)',
                            'rgba(0, 0, 0, 51)',
                            'rgba(102, 102, 255, 0.8)',
                            'rgba(153, 153, 0, 0.8)'
                        ],
                        data: {{regionValues|safe}},
                    }]
                },

                // Configuration options go here
                options: {
                    legend:{
                        display:false
                    },
                    title:{
                        display: true,
                        text: 'Número de votos por región'
                    },
                    animation: {
                        easing: 'linear',
                        duration: 800
                    } 
                }
            });
        }
    </script>
    <script>
        function graficoPorcentaje(){
            chart.destroy();
            chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'pie',
                // The data for our dataset
                data: {
                    labels: {{opciones|safe}},
                    datasets: [{
                        backgroundColor: [
                            'rgba(255, 0, 0, 0.8)',
                            'rgba(54, 162, 235, 0.7)',
                            'rgba(255, 255, 0, 0.7)',
                            'rgba(0, 253, 35, 0.8)',
                            'rgba(220, 0, 234, 0.8)'
                        ],
                        data: {{numero|safe}},
                    }]
                },

                // Configuration options go here
                options: {
                    title:{
                        display: true,
                        text: 'Porcentaje de votos por opción'
                    },
                    animation: {
                        easing: 'linear',
                        duration: 800
                    } 
                }
            });
        }
    </script>
    <input type="button" onClick="scriptGrafico()" value="grafico"/>
</body>
{% endblock %}
