{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
  <h1>Nombre: {{ voting.name }}</h1>
    {% if voting.desc %}
        <p><strong>Descripción:</strong> {{ voting.desc }}</p>
    {% endif %}
    {% if voting.start_date %}
        <p><strong>Fecha de inicio:</strong> {{ voting.start_date }}</p> 
    {% endif %}
    {% if voting.end_date %}
        <p><strong>Fecha de fin:</strong> {{ voting.end_date }}</p>  
    {% endif %}
  
  
  <p><strong>Pregunta:</strong> {{ voting.question }}</p>  
  <p><strong>Votos:</strong> {{ voting.votes }}</p>  
  
    <!-- 
  <p><strong>Genre:</strong> 
    {% for genre in book.genre.all %}
     {{ genre }}
    {% if not forloop.last %}, {% endif %}{% endfor %}</p>  
    -->
  
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })
    </script>
</body>
{% endblock %}