{% extends 'base.html' %}
{% block title %}Decide!{% endblock title %}


{% block extrahead %}
<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Site administration | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css" />
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body class=" dashboard"
  data-admin-utc-offset="0">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="">Decide Giratina</a></h1>
        </div>
        <div id="user-tools">
            {% if user.is_authenticated %}
                Bienvenido, 
                <strong>{{ user.username }} !!!</strong> 
                <a href ="/admin/">Panel</a>
                <a href="/admin/password_change/">Cambiar Contrasenya</a>
                <a href="/admin/logout/">Salir</a>    
            {% else %}
                <a href="/admin/" >Log In</a>
            {% endif %}
        </div>
    </div>  
</div>
<!--Contenido-->
<div id="content" class="flex">
    <ul>
        <p>Somos el grupo Decide-Giratina-Almacenamiento formado por:</p>
            <ul>
                <li type="disc">Angel Gonzalez Perez</li>
                <li type="disc">David Morales Llucia</li>
                <li type="disc">Roger Queralt Prunera</li>
                <li type="disc">Luis Rodriguez Vidosa</li>
                <li type="disc">David Sanchez Benaiges</li>
            </ul>
    </ul>
    <ul>
        <p>Nuestros cambios en la aplicación han sido:</p>
        <ul>
            <li type="disc">Implementación de una base de datos no relacional, mongodb</li>
            <li type="disc">Panel de control general, con la información en tiempo real, por sexo, por región/ip    </li>
            <li type="disc">Edición del voto por el mismo votante</li>
            <li type="disc">Realización de backups</li>
          
        </ul>
    </ul>   
    <form action=/admin/store/vote>
        <input type="submit" value="Panel"></input>
    </form>
    <form action=/changevote>
        <input type="submit" value="Cambio de voto">
    </form>
    <form action=/admin/store>
        <input type="submit" value="Backups">
    </form>   
</div>   
<style rel="stylesheet">
    p {
        font-size: 24px;
        white-space: nowrap;
    }

    li {
        font-size: 18px;
        margin-bottom: 4px;
        white-space: nowrap;
    }
    input {
        font-size: 20px;
        float: left;
        width: 30%;
        margin: 0 1.5% 24px 1.5%;
    }
</style>
{% endblock %}