{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static 'census/census.css' %}">
    <title>Censo</title>
{% endblock %}

{% block content %}
    <h1>Censo</h1>

    <a href="{% url 'new' %}">Añadir nuevos censos</a>

    <div v-if="!signup">
        <table>
            <tr>
                <th>IDs</th>
                <th>Votación</th>
                <th>Votante</th>
                <th>Eliminar censo</th>
            </tr>

            {% for r in items %}
                <tr>
                    <td> {{ r.0 }} </td>
                    <td> {{ r.1 }} </td>
                    <td> {{ r.2 }} </td>
                    <td> <a href="/census/delete/{{ r.0 }}">Eliminar censo</a> </td>
                </tr>
            {% endfor %}

        <div class="dropdown">
        <button class="dropbtn">Exportar Censo</button>
        <div class="dropdown-content">
        <a href="/census/resultados/csv">Exportar datos en csv</a>
        <a href="/census/resultados/ods">Exportar datos en ods</a>
        <a href="/census/resultados/xlsx">Exportar datos en xlsx</a>
        </div>
        </div>

        </table>
    </div>
{% endblock %}