
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'census/census.css' %}">
    </head>
    <body>
        <h1>Censo</h1>
        {% if check_user %}
            <table>
                <tr>
                    <th>ID de votación</th>
                    <th>ID de votante</th>
                </tr>
                {% for r in datos %}
                    <tr>
                        <td> {{ r.voting_id }} </td>
                        <td> {{ r.voter_id }} </td>
                    </tr>
                {% endfor %}
            <div class="dropdown">
            <button class="dropbtn">Exportar Censo</button>
            <div class="dropdown-content">
            <a href="/census/resultados/csv">Exportar datos en csv</a> </br>
            <a href="/census/resultados/ods">Exportar datos en ods</a> </br>
            <a href="/census/resultados/xlsx">Exportar datos en xlsx</a>
            </div>
            </div>

            </table>
        {% else %}
            <p>No está logueado como administrador. por favor, <a href="http://localhost:8000/admin/login/?next=/admin/">inicie sesión</a> y vuelva aquí</p>
        {% endif %}
    </body>

</html>