{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static 'census/census.css' %}">
    <title>Censo</title>
{% endblock %}

{% block content %}
    <h1>Censo</h1>



    <div v-if="!signup">
        <table>
            <tr>
                <th>ID de votación</th>
                <th>ID de votante</th>
            </tr>
            {% for r in datos %}
                <tr>
                    <td> {{ r.voting_id }} </td>
                    <td> {{ r.voter_id }} </td>
                </tr>
            {% endfor %}
        <div class="dropdown">
        <button class="dropbtn">Exportar Censo</button>
        <div class="dropdown-content">
        <a href="/census/resultados/csv">Exportar datos en csv</a>
        <a href="/census/resultados/ods">Exportar datos en ods</a>
        <a href="/census/resultados/xlsx">Exportar datos en xlsx</a>
        </div>
        </div>

        </table>
    </div>
{% endblock %}